doctype html

html(lang='en')
  head
    title Niranjana Swami Map Tracker

    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')

    script(src="/build/nrs_track_demo.js")
    link(rel="stylesheet", media="all", href="/build/nrs_track_demo.css")

  body
    p demo
